/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 페이지 */
html, body {
  min-width: 1050px;
  font-family: "Gothic A1", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  padding: 20px;
}